@import 'variables';
body {
	font-family: 'Roboto', sans-serif;
}
.date {
	color: #ccc;
}
.dropdown {
	width: 100%;
	display: inline-block;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px rgb(204, 204, 204);
	transition: all .5s ease;
	position: relative;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	height: 100%;
	text-align: left;
	@media #{$tablet} {
		font-size: 12px;
	}
	.select {
		cursor: pointer;
		display: block;
		padding: 10px;
		position: relative;
		img {
			position: absolute;
			top: 20px;
			right: 8px;
			cursor: pointer;
			transition: all .3s ease-in-out;
			float: right;
			line-height: 20px;
		}
	}
	&:hover {
		box-shadow: 0 0 4px rgb(204, 204, 204)
	}
	&:active {
		background-color: #f8f8f8
	}
	.active:hover,
	.active {
		box-shadow: 0 0 4px rgb(204, 204, 204);
		border-radius: 5px 5px 0 0;
		background-color: #f8f8f8;
		.select {

		}
	}
	.dropdown-menu {
		position: absolute;
		background-color: #fff;
		width: 100%;
		left: 0;
		margin-top: 1px;
		box-shadow: 0 1px 2px rgb(204, 204, 204);
		border-radius: 0 1px 5px 5px;
		overflow: hidden;
		display: none;
		max-height: 160px;
		overflow-y: auto;
		z-index: 9;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		padding: 0;
		list-style: none;
		@media #{$tablet} {
			font-size: 12px;
		}
		li {
			padding: 10px;
			transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover {
				background-color: #f2f2f2
			}
			&:active {
				background-color: #e2e2e2
			}
		}
	}
}
.dropdown.active .select > img {
	transform: rotate(180deg)
}



