$blue: #2596ca;
$white: #ffffff;
$black: #000000;
$grey: #b7c3c7;
$grey-blue: #67ceee;
$deep-grey: #666666;
$light-grey: #f8fafb;
$lighter-black: #333333;
$lighter-blue: #e6f3f7;
$green: #4fb427;
$orange: #ff8e41;
$greyer: #e4ebed;
