---

---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# variable example #}
	<h1>{{title}}</h1>

  {% include "partials/_banner.html" %}
  {% include "partials/_about.html" %}
  {% include "partials/_similar.html" %}
	<!--{# partial example #}-->
	<!--{% include "partials/_header.html" %}-->

	<!--{# mixin example #}-->
	<!--{{mixins.icon('facebook')}}-->


	<!--{# data usage example #}-->
		<!--{% import "data/data.html" as tests %}-->
		<!---->
		<!--{% for test in tests.list %}-->
		<!--<li>{{test.title}}</li>-->
		<!--{% endfor %}-->
	<!--{# end of example #}-->

{% endblock %}
