<section class="about">
  <div class="about__container">
    <div class="main">
      <div class="main__navigation">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Поиск диагностических центров</a></li>
          <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Специалисты</a></li>
          <li class="breadcrumbs__item">Иванова Анна Сергеевна</li>
        </ul>
      </div>
      <div class="specialist">
        <h2 class="specialist__title">Иванова Анна Сергеевна</h2>
        <div class="specialist__describtion spec">
          <div class="spec__img">
            <img src="img/078485-copy.png" alt="">
          </div>
          <div class="spec__text desc">
            <h3 class="desc__title">Иванова Анна Сергеевна</h3>
            <span class="desc__years">стаж 11 лет</span>
            <div class="desc__tags tags">
              <span class="tag">Хирург</span>
              <span class="tag">Травматолог</span>
              <span class="tag">Ортопед</span>
            </div>
            <p class="desc__text">
              Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые отложения. Но существуют продукты, которые противостоят стрессу и улучшают настроения без вреда для вашей фигуры! Пожалеть себя. Скушать пирожок/пирожное/конфетку, чтобы поднять настроение. А после уже жалеть об этом. Мы живем в век, когда стрессовые ситуации окружают нас повсеместно, топчемся по кругу, заедая стресс вредной пищей, и впадая в депрессию из-за самобичевания и слабой силы воли. Мы подготовили для вас список продуктов, которые помогут снизить уровень стресса без увеличения вашего веса и вреда
            </p>
          </div>
        </div>
        <div class="specialist__study spec">
          <h3 class="spec__title">Образование:</h3>
          <ul class="spec__courses">
            <li class="courses__item">Московская государственная медицинская <br> академия (1991 г.)</li>
            <li class="courses__item">Московская государственная медицинская <br> академия (2000 г.)</li>
            <li class="courses__item">Московская государственная медицинская <br> академия (1991 г.)</li>
          </ul>
        </div>
        <div class="specialist__centres spec">
          <h3 class="spec__title">Специалист принимает в центрах:</h3>
          <div class="spec__address ">
            <div class="address">
              <h2 class="address__title">МРТ24 на Павелецкой</h2>
              <a href="#" class="address__link"><img src="img/metro.jpg" alt="">Павелецкая, Маяковская</a>
              <a href="#" class="address__link"><img src="img/pin.png" alt="">Павелецкая набережная, 7</a>
            </div>
            <div class="contacts">
              <button class="contacts__btn">Записаться</button>
              <a href="tel:+7 (812) 385-77-56" class="contacts__number"><span>или по телефону</span> <br>+7 (812) 385-77-56</a>
            </div>
          </div>
          <div class="spec__address ">
            <div class="address">
              <h2 class="address__title">МРТ24 на Павелецкой</h2>
              <a href="#" class="address__link"><img src="img/metro.jpg" alt="">Павелецкая, Маяковская</a>
              <a href="#" class="address__link"><img src="img/pin.png" alt="">Павелецкая набережная, 7</a>
            </div>
            <div class="contacts">
              <button class="contacts__btn">Записаться</button>
              <a href="tel:+7 (812) 385-77-56" class="contacts__number"><span>или по телефону</span> <br> +7 (812) 385-77-56</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <aside>
      <div class="aside__nav pages">
        <h3 class="pages__title">Навигация по странице:</h3>
        <ul class="pages__list">
          <li class="pages__item"><a href="#" class="pages__link">Иванова Анна Сергеевна</a></li>
          <li class="pages__item"><a href="#" class="pages__link">Другие специалисты</a></li>
        </ul>
      </div>
      <div class="aside__call-now offer">
        <h2 class="offer__title">Осталось</h2>
        <span class="offer__places">5</span>
        <span class="offer__desc">мест по специальной цене</span>
        <span class="offer__call">Звоните сейчас</span>
        <a href="tel:+7 (812) 385-77-56" class="offer__link">+7 (812) 385-77-56</a>
      </div>
    </aside>
  </div>
</section>

