<section class="appointment-sec">
  <div class="container">
    <div class="appointment__form">
      <form action="" class="app">
        <div class="app__row order">
          <div class="order__item info">
            <input type="text" class="info__textfield" placeholder="Имя">
          </div>
          <div class="order__item info">
            <input type="text" class="info__textfield" placeholder="Телефон">
          </div>
          <div class="order__item">
            <div class="order__select sel">
              <span class="sel__title">Ваш город</span>
              <div class="dropdown">
                <div class="select">
                  <span>Санкт-Петербург</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="city">
                <ul class="dropdown-menu">
                  <li id="city1">Санкт-Петербург</li>
                  <li id="city2">Санкт-Петербург</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="order__item">
            <div class="order__select sel">
              <span class="sel__title">Услуга</span>
              <div class="dropdown">
                <div class="select">
                  <span>МРТ головного мозга</span>
                  <i class="fa fa-chevron-left"></i>
                </div>
                <input type="hidden" name="city">
                <ul class="dropdown-menu">
                  <li id="city1">МРТ головного мозга</li>
                  <li id="city2">МРТ гипофиза</li>
                  <li id="city3">МРТ глазных орбит</li>
                  <li id="city4">МРТ пазух носа</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="app__row order">
          <button class="order__btn">Показать лучшие условия</button>
        </div>
      </form>
    </div>
    <div class="call">
      <p>или просто звоните</p>
      <a class="call__link" href="tel:+7 (812) 385-77-56">+7 (812) 385-77-56</a>
    </div>
  </div>
</section>
