<section class="banner">
  <div class="container">
    <h1 class="banner__title">Онлайн запись в центр Европейский диагностический центр (ЕДЦ)</h1>
    <div class="banner__form">
      <form action="" class="appointment">
        <div class="appointment__row info">
          <input type="text" class="info__textfield" placeholder="Имя">
          <input type="text" class="info__textfield" placeholder="Телефон">
          <button class="info__btn">Записаться</button>
        </div>
      </form>
    </div>
  </div>
</section>

