<section class="banner">
  <div class="container">
    <h1 class="banner__title">Онлайн запись в центр Европейский диагностический центр (ЕДЦ)</h1>
    <div class="banner__form">
      <form action="" class="appointment">
        <div class="appointment__row form">
          <div class="form__item info">
            <input type="text" class="info__textfield" placeholder="Имя">
          </div>
          <div class="form__item info">
            <input type="text" class="info__textfield" placeholder="Телефон">
          </div>
          <div class="form__item">
            <span class="select__title">Выберите специализацию</span>
            <div class="dropdown">
              <div class="select">
                <span>МРТ</span>
                <img src="img/select-arrow.png" alt="">
              </div>
              <input type="hidden" name="spec">
              <ul class="dropdown-menu">
                <li id="spec1">МРТ</li>
                <li id="spec2">МРТ</li>
              </ul>
            </div>
          </div>
          <div class="form__item">
            <span class="select__title">Выберите услугу</span>
            <div class="dropdown">
              <div class="select">
                <span>МРТ головного мозга</span>
                <img src="img/select-arrow.png" alt="">
              </div>
              <input type="hidden" name="service">
              <ul class="dropdown-menu">
                <li id="serv1">МРТ головного мозга</li>
                <li id="serv2">МРТ гипофиза</li>
                <li id="serv3">МРТ глазных орбит</li>
                <li id="serv4">МРТ пазух носа</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="appointment__row form">
          <div class="form__item">
            <span class="select__title">Выберите дату</span>
            <div class="dropdown">
              <div class="select">
                <span class="date">дд.мм</span>
                <img src="img/select-arrow.png" alt="">
              </div>
              <input type="hidden" name="date">
              <ul class="dropdown-menu">
                <li id="date1">11.02</li>
                <li id="date2">12.02</li>
              </ul>
            </div>
          </div>
          <div class="form__item">
            <span class="select__title">Выберите время</span>
            <div class="dropdown">
              <div class="select">
                <span>12 : 30</span>
                <img src="img/select-arrow.png" alt="">
              </div>
              <input type="hidden" name="time">
              <ul class="dropdown-menu">
                <li id="time1">12 : 30</li>
                <li id="time2">13 : 30</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="appointment__row form">
          <button class="form__btn">Записаться</button>
        </div>
      </form>
    </div>
  </div>
</section>

