<footer>
  <div class="container">
    <div class="links">
      <div class="links__item list">
        <h3 class="list__title">О нас</h3>
        <a href="" class="list__link">Зачем мы это делаем</a>
        <a href="" class="list__link">Контакты</a>
      </div>
      <div class="links__item list">
        <h3 class="list__title">Пациентам</h3>
        <a href="" class="list__link">Как это работает?</a>
        <a href="" class="list__link">Конфидициальность</a>
      </div>
      <div class="links__item list">
        <h3 class="list__title">Мед. центрам</h3>
        <a href="" class="list__link">Как стать партнером?</a>
        <a href="" class="list__link">Реклама</a>
      </div>
      <div class="links__item list">
        <h3 class="list__title">База знаний</h3>
        <a href="" class="list__link">Болезни и симптомы</a>
        <a href="" class="list__link">Публикации</a>
      </div>
    </div>
  </div>
</footer>
