<section class="similar">
  <div class="container">
    <h2 class="title">Похожие специалисты</h2>
    <div class="doctors">
      <div class="doctors__column">
        <div class="preview">
          <div class="preview__visual">
            <img src="../img/013e39.png" alt="" class="preview__img">
            <div class="preview__tags">
              <span class="tag">Хирург</span>
              <span class="tag">Травматолог</span>
              <span class="tag">Ортопед</span>
            </div>
          </div>
          <div class="preview__description">
            <h3 class="preview__title">Смирнова Татьяна Петровна</h3>
            <p class="preview__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые</p>
          </div>
        </div>
      </div>

      <div class="doctors__column">
        <div class="preview">
          <div class="preview__visual">
            <img src="../img/013e39.png" alt="" class="preview__img">
            <div class="preview__tags">
              <span class="tag">Хирург</span>
              <span class="tag">Травматолог</span>
              <span class="tag">Ортопед</span>
            </div>
          </div>
          <div class="preview__description">
            <h3 class="preview__title">Смирнова Татьяна Петровна</h3>
            <p class="preview__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые</p>
          </div>
        </div>
      </div>

      <div class="doctors__column">
        <div class="preview">
          <div class="preview__visual">
            <img src="../img/013e39.png" alt="" class="preview__img">
            <div class="preview__tags">
              <span class="tag">Хирург</span>
              <span class="tag">Травматолог</span>
              <span class="tag">Ортопед</span>
            </div>
          </div>
          <div class="preview__description">
            <h3 class="preview__title">Смирнова Татьяна Петровна</h3>
            <p class="preview__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые</p>
          </div>
        </div>
      </div>
      <div class="doctors__column">
        <div class="preview">
          <div class="preview__visual">
            <img src="../img/013e39.png" alt="" class="preview__img">
            <div class="preview__tags">
              <span class="tag">Травматолог</span>
            </div>
          </div>
          <div class="preview__description">
            <h3 class="preview__title">Смирнова Татьяна Петровна</h3>
            <p class="preview__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые</p>
          </div>
        </div>
      </div>

      <div class="doctors__column">
        <div class="preview">
          <div class="preview__visual">
            <img src="../img/013e39.png" alt="" class="preview__img">
            <div class="preview__tags">
              <span class="tag">Хирург</span>
              <span class="tag">Травматолог</span>
            </div>
          </div>
          <div class="preview__description">
            <h3 class="preview__title">Смирнова Татьяна Петровна</h3>
            <p class="preview__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые</p>
          </div>
        </div>
      </div>
      
      <div class="doctors__column">
        <div class="preview">
          <div class="preview__visual">
            <img src="../img/013e39.png" alt="" class="preview__img">
            <div class="preview__tags">
              <span class="tag">Хирург</span>
              <span class="tag">Травматолог</span>
              <span class="tag">Ортопед</span>
            </div>
          </div>
          <div class="preview__description">
            <h3 class="preview__title">Смирнова Татьяна Петровна</h3>
            <p class="preview__text">Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
