.about {
    padding-top: 32px;
    &__container {
        padding: 0 15px;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
    }
}
.main {
    width: 71%;
    &__navigation {
        .breadcrumbs {
            &__item {
                display: inline-block;
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
            }
            &__link {
                position: relative;
                color: $blue;
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
                text-decoration: none;
                padding-right: 20px;
                &:after {
                    content: '';
                    position: absolute;
                    background-image: url("../img/breadcrumbs_arrow.png");
                    width: 5px;
                    height: 10px;
                    top: 20%;
                    right: 5px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.specialist {
    padding-top: 41px;
    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 300;
    }
    &__describtion {
        padding-top: 20px;
        display: flex;
    }
    &__study {
        padding-top: 24px;
    }
    &__centres {
        padding-top: 30px;
    }
}
.spec {
    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 24.01px;
    }
    &__address {
        background-color: $lighter-blue;
        margin-top: 11px;
        margin-bottom: 21px;
        padding-bottom: 21px;
        border-radius: 5px;
        padding-left: 24px;
        padding-top: 8px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        .address {
            &__title {
                font-size: 21px;
                font-weight: 300;
                line-height: 35px;
                color: $blue
            }
            &__link {
                padding-top: 4px;
                padding-left: 23px;
                display: block;
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: #000;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .contacts {
            display: flex;
            flex-direction: column;
            &__btn {
                margin-top: 16px;
                line-height: 30px;
                border-radius: 5px;
                border: 1px solid #e1762e;
                background-color: #ff8e41;
                font-size: 18px;
                font-weight: 700;
                color: $white;
            }
            &__number {
                text-align: center;
                padding-top: 6px;
                font-family: 'Helvetica Neue', sans-serif;
                font-size: 15px;
                font-weight: 700;
                line-height: 17px;
                color: #000;
                text-decoration: none;
                span {
                    color: #999999;
                    font-size: 12px;
                }

            }
        }
    }
}
.desc {
    padding-left: 27px;
    &__title {
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.01px;
    }
    &__years {
        display: inline;
        font-size: 14px;
        font-weight: 500;
        line-height: 24.01px;
        color: $deep-grey;
    }
    &__tags {
        padding-top: 9px;
        .tag {
            margin-right: 7px;
            color: $lighter-black;
            font-size: 14px;
            font-weight: 400;
            border-radius: 5px;
            background-color: #c4ebf6;
            padding: 3px 10px;
        }
    }
    &__text {
        padding-top: 14px;
        font-size: 14px;
        font-weight: 400;
        color: $lighter-black;

    }
}
.courses {
    &__item {
        position: relative;
        padding: 9px 24px;
        color: $lighter-black;
        font-size: 14px;
        font-weight: 400;
        &:before {
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $blue;
            top: 15px;
            left: 3px;
        }
    }
}
.aside {
    width: 30%;
    padding-left: 42px;
}
.pages {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    &__list {
        padding-top: 8px;
    }
    &__link {
        color: $blue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.offer {
    background-image: url("../img/2-layers.png");
    background-repeat: no-repeat;
    color: $white;
    text-align: center;
    margin-top: 272px;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 60px;
    @media #{$tablet} {
        margin-top: 30px;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    &__title {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        letter-spacing: -3px;
        padding-bottom: 18px;
        @media #{$tablet} {
            font-size: 27px;
            letter-spacing: -1px;
        }
    }
    &__places {
        padding-top: 30px;
        margin: 0 auto;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $green;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        @media #{$tablet} {
            
        }
    }
    &__desc {
        padding-top: 5px;
        display: block;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
    }
    &__call {
        padding-top: 54px;
        display: block;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        @media #{$tablet} {
            padding-top: 45px;
        }
    }
    &__link {
        padding-top: 10px;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
